$background-color: rgba(7, 3, 51, 1);
$text-color: #fff;
$hover-text-color: #444;
$secondText-color: #000;
$homeBtn-color: #2196f3;


$logo-text: 'Kaushan Script', cursive;
$body-text: 'Titillium Web', sans-serif;