.social-link {
    margin: 0 auto;
    text-align: center;

    li {
        list-style-type: none;
        display: inline-block;
        margin: 1rem; 

        a {
            color: $hover-text-color; 

            i {
                &::before {
                    background-color: $text-color;
                    width: 2rem;
                    height: 2rem;
                    display: inline-block;
                    font-size: 2rem;
                    padding: 1rem;
                    border-radius: 50%;
                    -webkit-transition: .5s;
                    -o-transition: .5s;
                    transition: .5s; 
                }
            }

            &:hover i::before {
                background: $hover-text-color;
                color: $text-color;
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg); 
            }
        }
    }  
}