header {
    background: linear-gradient(rgba(7, 3, 51, 0.9), rgba(7, 3, 51, 0.9)), url(../img/bg/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;

    .logo {
        margin-top: 3rem;
        float: left;

        a {
            font-family: $logo-text;
            color: $text-color;
            font-size: 2rem;
            letter-spacing: .3rem;
            font-weight: 900;
            text-decoration: none;
        }
    }

    .main-nav {
        margin-left: auto;
        margin-top: 3rem;
        float: right;

        ul {
            padding: 0;
    
            li {
                position: relative;
                display: inline-block;
                margin-left: 2.5rem;
    
                &:first-child {
                    margin-left: 0;
                }

                .activate {
                    color: $text-color;
                }
    
                a {
                    position: relative;
                    height: 3rem;
                    display: block;
                    text-decoration: none;
                    overflow: hidden;
                    text-transform: uppercase;
                    font-weight: 600;
                    display: inline-block;
                    font-size: 2rem;
    
                    span {
                        width: 100%;
                        height: 100%;
                        display: block;
                        transition: .8s;
                        -webkit-transition: .8s;
                        -moz-transition: .8s;
                        -ms-transition: .8s;
                        -o-transition: .8s;

                        &:nth-child(1) {
                            color: $hover-text-color;
                        }
    
                        &:nth-child(2){
                            color: $text-color;
                        }
                    }
                }
    
                &:hover {
                    a {
                        span {
                            &:nth-child(1) {
                                transform: translateY(-100%);
                            }
                            &:nth-child(2) {
                                transform: translateY(-100%);
                            }
                        }
                    }
                }
            }
        }
    }

    .sticky {
        z-index: 99999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: $background-color;
        padding: 2.5rem 0;
        -webkit-box-shadow: 0 0.2rem 0.5rem rgba(255, 255, 255, 0.9);
        box-shadow: 0 0.2rem 0.5rem rgba(255, 255, 255, 0.9); 
    
        .logo {
            margin-top: .2rem; 
        }

        .main-nav {
            margin-top: .6rem; 
        }

        .mobile-menu {
            span {
                margin-top: 0; 
            }
        }
    }

    .hero-text-box {
        position: absolute;
        width: 114rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;


        h1 {
            em {
                font-size: 3rem;
            }
        }
    }
}