@import 'config';
@import 'reusableComponents';
@import 'socialLink';
@import 'neonBtn';
@import 'header';
@import 'mobile-menu';
@import 'responsive';

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $body-text;
    text-rendering: optimizeLegibility; 
    background-color: $background-color;
}